header {	
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-color: white;
	align-items: center;
	justify-content: flex-start;
	display: flex;
}

header .logo{
	width: 175px;
	background-repeat: no-repeat;
	background-position: center;
	height: 175px;
	margin-left: 20px;
	height: 100%;
}
