header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
	background-color: white;
	justify-content: flex-start;
}

header .logo {
	background-repeat: no-repeat;
	background-position: center;
	background-image("../images/log.png");
	margin-left: 20px;
	width: 175px;
	height: 100%;
}
